/* TAG SELECTORS */

body {
  background-color: #0d192b;
  font-family: 'Outfit', sans-serif;

}

h1 {
  color: white;
  font-size: 22px;
}
  h1:hover {
    color: cyan;
  }

p {
  color: #8bacda;
  font-size: 18px;
}

span {
  color: white;
}
span:hover {
  color: cyan;
}

hr {
  border-color: #3e4d69;
  margin: 0 auto 20px;
}

/* CLASS SELECTORS */

.main {
  background-color: #14253d;
  border-radius: 4%;
  margin: 100px auto;
  padding: 20px;
  width: 22%;
}

.equilibrium {
  border-radius: 4%;
  width: 310px;
  height: auto;
  margin: 0 auto;
}

  .container {
    position: relative;
    width: 100%;
    max-width: 310px;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 310px;
    width: 100%;
    border-radius: 3%;
    opacity: 0;
    transition: .3s ease;
    background: #ff4af3;
  }
  .container:hover .overlay{
    opacity: 100%;
  }
  .icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  }

.eqb-collection {
  font-weight: 300;
}

.eth1 {
  color: cyan;
  display: inline;
  font-weight: 600;
  margin-left: 2px;
}

.eth {
  position: relative;
  top: 2px;
}

.clock {
  position: relative;
  left: 105px;
  top: 2px;
}

.clock1 {
  display: inline;
  margin-left: 105px;
}

.jules {
  border: 1px solid white;
  border-radius: 100%;
  position: relative;
  height: 30px;
}

.jules1 {
  display: inline;
  margin-left: 8px;
  position: relative;
  bottom: 10px;
}
